<div class="row" id="about">
	<div class="col_4 col">
		<%= image_tag("milo.jpg",:alt => "ma photo",:class => "about_img") %>
		
	</div>
	<div class="col_12 col">
	Developpeur d'applications JAVA EE et mobile(Android, J2ME,Rhomobile,PhoneGap)
	<p>
		<h3>Goupes</h3>
	<ul>
		<li>Groupe des utilisateurs des technologies google (GDG Dakar)</li>
		<li>Groupe des utilisateurs Ruby (DRUG)</li>
	</ul>
	</p>
	</div>
	
	<div class="row">
	 <p class="col_4 col" style="text-align: right;">Tel:</p>
	 <p class="col_8 col">+221 77 506 97 84</p>
 </div>
 <div class="row">
	 <p class="col_4 col" style="border: 1px solid #fff;"></p>
	 <p class="col_8 col">+221 70 202 70 33</p>
 </div>
 <div class="row">
	 <p class="col_4 col" style="border: 1px solid #fff;"></p>
	 <p class="col_8 col">+221 76 884 00 02</p>
 </div>
	

	 
<div class="row">
	<p class="col_4 col" style="text-align: right;">Email:</p>
	<p class="col_8 col">pascalmillimono@gmail.com</p>
</div>
<div class="row">
	<p class="col_4 col" style="border: 1px solid #fff;"></p>
	<p class="col_8 col">pascalniouma@yahoo.fr</p>
</div>
</div>
<!--<div class="row">
	<div class="col_16 col">
	<h3>Goupes</h3>
	<ul>
		<li>Groupe des utilisateurs des technologies google (GDG Dakar)</li>
		<li>Groupe des utilisateurs Ruby (DRUG)</li>
	</ul>
	</div>
</div>-->


 <!--<div class="row">
	 <p class="col_4 col" style="text-align: right;">Tel:</p>
	 <p class="col_12 col">+221 77 506 97 84</p>
 </div>
 <div class="row">
	 <p class="col_4 col" style="border: 1px solid #fff;"></p>
	 <p class="col_12 col">+221 70 202 70 33</p>
 </div>
 <div class="row">
	 <p class="col_4 col" style="border: 1px solid #fff;"></p>
	 <p class="col_12 col">+221 76 884 00 02</p>
 </div>
	

	 
<div class="row">
	<p class="col_4 col" style="text-align: right;">Email:</p>
	<p class="col_12 col">pascalmillimono@gmail.com</p>
</div>
<div class="row">
	<p class="col_4 col" style="border: 1px solid #fff;"></p>
	<p class="col_12 col">pascalniouma@yahoo.fr</p>
</div>-->
 


