<div class="col_16 col" id="contact">
	<form class="formulaire">
		
		<label for="email">Email</label>
		<input type="text" id="email" name="email" placeholder="email" /><br />
		
		<label for="objet">Objet</label>
		<input type="text" id="objet" name="objet" placeholder="objet" /><br />
		
		<label for="message">Message</label>
		<textarea name="message" placeholder="votre message" rows="8" cols="40"></textarea>
		
	</form>
</div>