<div class="col col_16" id="cv">
<p >
	<h3><a href="#">OBJECTFS</a></h3>
<div>
Intégrer une équipe pour approfondir mes connaissances. Acquérir une expérience technique, 
fonctionnelle et organisationnelle. Participer a l’expansion des solutions informatiques embarque et 
monétique.
</div>
</p>

<p >
	<h3><a href="#">FORMATIONS</a></h3>
	<div><ul>
		<li>NIIT 3eme Année Ingénieur Logicielle MMS (MasterMind Series) www.niit.sn. <span>2010-2012</span></li>
		<li>NIIT  2eme  Année Ingénieur Logicielle MMS (MasterMind Series) www.niit.sn. <span>2008-2010</span></li>
		<li>ISI (Institut Supérieur d’Informatique)  Master Génie Informatique. <span>2006-2008</span></li>
	</ul></div>
</p>

<p >
	<h3><a href="#">DIPLOMES</a></h3>
	<div><ul>
		<li>Diplôme d’Ingenieur Professionnel en Informatique (Ingénieries Logicielles technologies J2EE MMS) a NIIT (niit senegal) www.niit.sn  <span>2012</span></li>
		<li>Brevet De technicien supérieur (B.T.S) en Electronique  au centre d’entreprenariat et de Développement Technique (C.E.D.T) le G15. <span>2006</span></li>
		<li>Baccalauréat 2ème partie en sciences mathématiques au Lycée Amilcar Cabral (Guinée) <span>2004</span></li>
	</ul></div>
</p>

<p >
<h3><a href="#">EXPÉRIENCES  PROFESSIONNELLES</a></h3>
<div>
	<p >
		<h4>Ferlo SA   (Etablissement de monnaie électronique)<span>mai-aout 2012</span></h4>
		<ul>                                                           
			<li>Création et intégration des fonctions sur la plateforme monétique (JPOS 8085-JAVA EE-Services Web)</li>
			<li>Participation au projet de développement mobile (PhoneGap/Jquery Mobile-Ajax)</li>
		</ul>
	</p>
	<p >
		<h4>Troisième concours de développement mobile au Sénégal <span>Octobre 2011</span><h4>
		<ul>
			<li>Participant. Thème : Gestion Recensement (Android - JAVAEE- Sevices Web)</li>
		</ul>
	</p>
	<p >
		<h4>GLOBAL COMPUTER SOLUTION SARL <sapn>Avril 2006</sapn></h4>
		<ul>                                                                                             
		 <li>Stage Technicien en Maintenance Informatique et Electronique des Ordinateurs.</li>
		</ul>
	</p> 
	<p >
		<h4>Centre d’Entreprenariat et de Développement Technique de Dakar (Sénégal)<sapn>Juil. - Sept 2005</sapn></h4> 
		<ul>
			<li>Stage Technicien (Maintenance et Entretien) en Electronique et Informatique </li>
		</ul>
	</p> 
</div>
</p>
	<p >
<h4><a href="#">CONNAISSANCES EN INFORMATIQUE</a></h4>
<div>
	<ul>
<li>Etudes -Technologies : 
	<ul>
		<li>JAVA EE : JDBC(Java DataBase Connectivity), Programmation Réseau et Distribuée, Services Web, JavaMail, JSP /Servlets ,EJB3(Entreprise Java Beans).</li>
		<li>JAVAFX : Autoformation.</li>
		<li>Mobiles : J2ME (Java 2 Micro Edition),Android, Phonegap+ JqueryMobile, Rhodes(en cours)</li>
		<li>Autres : Etude et Compréhension du cycle de développement Logicielle,Gestion de Projet ,Etude et Compréhension de la Business Intelligence(Cas pratique), Etude et Comprehension des Applications d’Entrprise Integres.</li>
	</ul>
</li>
<li>Framework: Struts2/Jsf2 (autoformation), 52Framework,Ruby on Rails(debutant).</li>
<li>Langages : Algorithmique, XHTML4/HTML5-CSS2/CSS3, JavaScript, AJAX, PHP5 , SQL , UML, XML,  JAVA,Ruby(debutant).</li>
<li>Bases de données : MYSQL, SQL Server 2005,Oracle 11g(formation en cours).</li>
<li>Editeurs , Logiciels et Serveurs : EasyPhp5, Dreamweaver, Eclipse, Netbeans, Jude, Microsoft Business Intelligence ,Freemind, JBOSS, Apache Tomcat,Glassfish.</li>
<li>Systèmes d’exploitation : Windows, Linux(Ubuntu,Debian).</li>
<li>Bureautique: Word, Excel, PowerPoint.</li>
</ul>
</p>
</div>

<p >
<h3><a href="#">Projets</a></h3>
	<div><ul>
		<li>Conception et réalisation de base de données avec Sql Server 2005</li>
		<li>Application Système de paie : Script linux </li>
		<li>Application Système Gestion de Facture(Agence Immobiliere YAMOUSLY) : Java JDBC</li>
		<li>Application Système Gestion Université : JDBC+RMI+JavaMAil</li>
		<li>Application Mobile Gestion de Stock : J2ME</li>
		<li>Application Mobile Gestion Recensement : Android+J2EE(JSP/Servlet)+Services Web.</li>
		<li>Application (Agence Voyage) FlyMyWay:Html5-52FrameWork J2EE(JSP/Servlet) (WEB).</li>
		<li>Site E-Commerce OnlineBookStore : JSP/Servlet-EJB (en cours)</li>
		<li>Application MobileSunuBaat: Android. </li>
		<li>Creation d’un rendu mobile pour site web(jquery mobile).</li>
	</ul></div>
</p>

<p >
<h3><a href="#">Activités</a></h3>
	<div><ul>
		<li>Sport: Arts Martiaux, footing.</li>
		<li>Loisirs : Voyages, Lectures, Etudes.</li> 
		<li>Arts : Musique (choriste)</li>
		<li>Maintenance et réparation des ordinateurs(Electromique)</li>
		<li>Groupe des utilisateurs des technologies Google (GDG dakar)</li>
	</ul></div>
</p>

<p >
<h3><a href="#">Caractéristiques Personnelles</a></h3>
<div>
Sympathique, travailleur, ouvert d’esprit, jovial, déterminé, sincère et loyal, responsable, 
notion de l’importance de l’esprit d’équipe, facilités d’apprentissage, ambitieux, sens de l’organisation.
</div>
</p>
</div>

