<div class="row">
<div class="col_16 col">
	<h3>Applications mobiles</h3>
	<div class="row">
		<div class="col_4 col">Site Mobile</div>
		<div class="col_4 col">Sunu baat</div>
		<div class="col_4 col">Gestion Recensement</div>
		<div class="col_4 col">Gestion Stock</div>
	</div>
</div>
<div>
