<footer class="row">
	<div class="col _col_16">
		<nav>
			<ul>
				<li><%= link_to "Accueil", root_path %></li>
				<li><%= link_to "CV", cv_path %></li>
				<li><%= link_to "A propos", about_path %></li>
				<li><%= link_to "Contact", contact_path %></li>
			</ul>
		</nav>
	</div>
</footer>
