<div class="row">
	<header>
		<div class="col_7 col">Pascal Niouma</div>
		<nav class="col_9 col">
			<ul>
				<li><%= link_to "Accueil", root_path %></li>
				<li><%= link_to "CV", cv_path %></li>
				<li><%= link_to "A propos", about_path %></li>
				<li><%= link_to "Contact", contact_path %></li>
			</ul>
		</nav>
		<div class="row">
			<!--<div class="col col_8" style="border:1px solid #fff;"></div>
			<div class="col col_8">search</div>-->
		</div>
		<div class="clear"></div>
	</header>
</div>